<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <mat-form-field appearance="fill">
      <mat-label>Name: {{ nameField.value }}</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
    </mat-form-field>
    <div class="messages" [class.active]="isNameFieldInvalid">
      <mat-error *ngIf="nameField.hasError('required')">
        <strong>Este campo es requerido</strong>
      </mat-error>
      <mat-error *ngIf="nameField.hasError('maxlength')">
        <strong>debe tener maximo 10 c</strong>
      </mat-error>
      <mat-error *ngIf="nameField.hasError('pattern')">
        <strong>No se admiten caracteres especiales</strong>
      </mat-error>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Last: {{ lastField.value }}</mat-label>
      <input matInput type="text" formControlName="last" />
    </mat-form-field>
    <div class="messages" [class.active]="isLastFieldInvalid">
      <mat-error *ngIf="lastField.hasError('required')">
        <strong>Este campo es requerido</strong>
      </mat-error>
      <mat-error *ngIf="lastField.hasError('maxlength')">
        <strong>debe tener maximo 10 c</strong>
      </mat-error>
      <mat-error *ngIf="lastField.hasError('pattern')">
        <strong>No se admiten caracteres especiales</strong>
      </mat-error>
    </div>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Email: {{ emailField.value }}</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-icon matSuffix *ngIf="isEmailFieldValid">done</mat-icon>
    <mat-icon matSuffix *ngIf="isEmailFieldInvalid">close</mat-icon>
  </mat-form-field>
  <div class="messages" [class.active]="isEmailFieldInvalid">
    <mat-error *ngIf="emailField.hasError('required')"
      >Este campo es requerido</mat-error
    >
    <mat-error *ngIf="emailField.hasError('email')"
      >Este no es un email valido</mat-error
    >
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Age: {{ ageField.value }}</mat-label>
    <input matInput type="number" formControlName="age" />
    <mat-icon matSuffix *ngIf="isAgeFieldValid">done</mat-icon>
    <mat-icon matSuffix *ngIf="isAgeFieldInvalid">close</mat-icon>
  </mat-form-field>
  <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <mat-error *ngIf="ageField.hasError('required')"
      >Este campo es requerido</mat-error
    >
    <mat-error *ngIf="ageField.hasError('min')"
      >el minimo de edad es 18 años</mat-error
    >
    <mat-error *ngIf="ageField.hasError('max')"
      >el maximo de edad es 100 años</mat-error
    >
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Phone: {{ phoneField.value }}</mat-label>
    <input matInput type="tel" formControlName="phone" />
  </mat-form-field>
  <div
    class="messages"
    [class.active]="phoneField.touched && phoneField.invalid"
  >
    <mat-error *ngIf="phoneField.touched && phoneField.hasError('required')"
      >Este campo es requerido</mat-error
    >
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Color: {{ colorField.value }}</mat-label>
    <input matInput type="color" formControlName="color" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date: {{ dateField.value }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category: {{ categoryField.value }}</mat-label>
    <mat-select formControlName="category">
      <mat-option value="category-1"> Category 1 </mat-option>
      <mat-option value="category-2"> Category 2 </mat-option>
      <mat-option value="category-3"> Category 3 </mat-option>
      <mat-option value="category-4"> Category 4 </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags: {{ tagField.value }}</mat-label>
    <mat-select formControlName="tag" multiple>
      <mat-option value="tag-1"> Tag 1 </mat-option>
      <mat-option value="tag-2"> Tag 2 </mat-option>
      <mat-option value="tag-3"> Tag 3 </mat-option>
      <mat-option value="tag-4"> Tag 4 </mat-option>
    </mat-select>
  </mat-form-field>

  <section class="example-section">
    <p>Agree: {{ agreeField.value }}</p>
    <mat-checkbox class="example-margin" formControlName="agree"
      >agree</mat-checkbox
    >
  </section>

  <div>gender: {{genderField.value}}</div>
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button name="gender" value="male">male</mat-radio-button>
    <mat-radio-button name="gender" value="female">female</mat-radio-button>
    <mat-radio-button name="gender" value="other">other</mat-radio-button>
  </mat-radio-group>

  <div>zone: {{zoneField.value}}</div>
  <mat-radio-group aria-label="Select an option" formControlName="zone">
    <mat-radio-button name="zone" value="zone-1"
      >zone1</mat-radio-button
    >
    <mat-radio-button name="zone" value="zone-2"
      >zone2</mat-radio-button
    >
    <mat-radio-button name="zone" value="zone-3"
      >zone3</mat-radio-button
    >
  </mat-radio-group>

  <section>
    <div class="example-button-row">
      <button mat-raised-button [disabled]="form.invalid" type="submit">
        Enviar
      </button>
    </div>
  </section>
</form>
